In [1]:
import pandas as pd
import numpy as np
import csv

In [9]:
LOB = pd.read_csv("Data/LOB_data.csv")
LOB

,MsgType,SeqNumber,Symbol,SourceTime,SymbolSeqnum,OrderID,Price,Volume,Side,FirmID,NumParitySplits,len_firmid
0,100,12395,AAPL,7:00:00,4,1.773293e+16,135.20,5,B,NaN,0,0
1,100,13035,AAPL,7:00:49,5,1.773293e+16,141.82,100,S,NaN,0,0
2,100,13061,AAPL,7:00:55,7,1.773293e+16,141.71,100,B,NaN,0,0
3,100,13129,AAPL,7:01:22,9,1.773293e+16,141.76,100,S,NaN,0,0
4,100,13154,AAPL,7:01:33,11,1.773293e+16,141.69,100,S,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
438668,100,26420055,AAPL,15:59:59,895389,1.773293e+16,139.15,100,B,NaN,0,0
438669,100,26420057,AAPL,15:59:59,895391,1.773293e+16,139.14,100,B,NaN,0,0
438670,100,26421544,AAPL,15:59:59,895395,1.773293e+16,139.12,100,B,NaN,0,0
438671,100,26422474,AAPL,15:59:59,895398,1.773293e+16,139.10,100,B,NaN,0,0
438672,100,26425270,AAPL,16:00:00,895402,1.773293e+16,139.27,100,S,NaN,0,0

In [ ]:
def get_data():
    ticker = "CL=F"
    start_date = dt.datetime(2010,1,1)
    end_date = dt.datetime.today()
    data = yf.download(ticker, start = start_date, end =end_date)
    df = DataFrame(data)
    pd.set_option("display.max_columns", None)   
    df = df.astype(float)
    return df
df = get_data()
mtly_return = df['Adj Close'].resample('M').mean().pct_change()

In [ ]:
from sklearn.ensemble import RandomForestRegressor


clf = RandomForestRegressor(
    oob_score = True,
    max_depth = 20,
    min_samples_split=20,
    min_samples_leaf=10,
    n_estimators=20,
    random_state=0,
    verbose=3)
clf.fit(X_train.reshape(-1,70),y_train.reshape((-1,)))